<div class="container-progress">
  <div *ngIf="textTop1 && !textTop2" class="progress-top">
    <div class="flex-center">
      <span class="text-top-single">{{ textTop1 }}</span>
    </div>
  </div>

  <div *ngIf="textTop1 && textTop2" class="progress-top">
    <div class="flex-left-side">
      <span class="text-top-double-left">{{ textTop1 }}</span>
    </div>
    <div class="flex-right-side">
      <span class="text-top-double-right">{{ textTop2 }}</span>
    </div>
  </div>

  <div class="progress-mid">
    <div class="side"></div>
    <div class="center">
      <span class="value">{{ value }}</span>
    </div>
    <div class="side">
      <span *ngIf="unit">{{ unit }}</span>
    </div>
  </div>
  <div class="progress-btm">
    <div class="progress-bar-style">
      <ngb-progressbar type="success" [value]="progress"></ngb-progressbar>
    </div>
  </div>
</div>
