<div class="container-progress">
  <div class="progress-top">
    <div class="flex-left-side">
      <span>{{ textTop1 }}</span>
    </div>
    <div class="flex-right-side">
      <span>{{ textTop2 }}</span>
    </div>
  </div>
  <div class="progress-mid">
    <div class="side"></div>
    <div class="center">
      <span>{{ value }}</span>
    </div>
    <div class="side">
      <span>{{ unit }}</span>
    </div>
  </div>
  <div class="progress-btm">
    <div class="progress-bar-style">
      <ngb-progressbar type="success" [value]="progress"></ngb-progressbar>
    </div>
  </div>
</div>
