.container-progress {
    width: 100%;
    height: 133px;
    display: flex;
    flex-direction: column;
    .progress-generic {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .progress-top {
        @extend .progress-generic;
        height: 24px;
    }
    .progress-mid {
        @extend .progress-generic;
        height: 98px;
    }
    .progress-btm {
        @extend .progress-generic;
        height: 11px;
    }
    .progress-bar-style {
        width: 100%;
        height: 100%;
    }
}