$nav-height: 50px;
$nav-icon: 45px;
.bg-image {
  background: url('../../assets/images/default-bg.jpg') no-repeat center center fixed;
  background-size: cover;
}
.no-scroll .scroll-content {
  overflow: hidden;
}
.full-width {
  width: 100vw;
  height: 100vh;
}
#slide-navigation-bar {
  width: 100vw; 
  height: $nav-height; 
  position: fixed; 
  top: calc(50vh - #{$nav-height}); 
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  .section-generic {
    width: $nav-height;
    height: $nav-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-left {
    @extend .section-generic;
  }
  .section-center {
    height: $nav-height;
    flex: 1;
  }
  .section-right {
    @extend .section-generic;
  }
  .navigation-arrow {
    width: $nav-icon;
    height: $nav-icon;
    opacity: 0.7;
  }
}
