$nav-height: 50px;
$nav-icon: 45px;
.bg-image {
  background: url('../../assets/images/default-bg.jpg') no-repeat center center fixed;
  background-size: cover;
}
.no-scroll .scroll-content {
  overflow: hidden;
}
.full-width {
  width: 100vw;
  height: 100vh;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .spec-title-container {
    @extend .flex-center;
    width: 100vw;
    height: 24px;
    font-size: 20px;
    color: #fff;
  }
  .spec-spacer-header {
    display: flex;
    width: 100vw;
    height: 50px;
  }
  .spec-spacer-1 {
    display: flex;
    flex: 1;
  }
  .spec-spacer-2 {
    display: flex;
    width: 100vw;
    height: 75px;
  }
  .spec-spacer-footer {
    display: flex;
    width: 100vw;
    height: 35px;
  }
  .spec-container {
    @extend .flex-center;
    width: 100vw;
    .spec-container-inner {
      width: calc(100vw - 82px);
    }
  }
}

#slide-navigation-bar {
  width: 100vw; 
  height: $nav-height; 
  position: fixed; 
  top: calc(50vh - #{$nav-height}); 
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  .section-generic {
    width: $nav-height;
    height: $nav-height;
    @extend .flex-center;
  }
  .section-left {
    @extend .section-generic;
  }
  .section-center {
    height: $nav-height;
    flex: 1;
  }
  .section-right {
    @extend .section-generic;
  }
  .navigation-arrow {
    width: $nav-icon;
    height: $nav-icon;
    opacity: 0.7;
  }
}
